.tuyen-sinh {
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-top: 20px;
	margin-bottom: 50px;
}

.tuyen-sinh img {
	width: 100%;
	height: auto;
}

.tuyen-sinh iframe {
	width: 100%;
	height: 658px;
	margin-top: 20px;
	outline: none;
	border: none;
}